/*** Fonts ***/
@font-face {
    font-family: "yekanbak";
    src: url(../fonts/YekanBakhFaNum-VF.woff);
    src: url(../fonts/YekanBakhFaNum-VF.woff2);
}

/*** General ***/
* {
    border: 0;
    box-sizing: border-box;
    font-family: yekanbak;
    background-color: transparent;
    margin: 0;
}

body {
    margin: 0;
    text-align: right;
    font-size: 14px;
    font-family: yekanbak;
    font-weight: 400;
    color: #303030;
}

a {
    display: inline-block;
    text-decoration: none;
    transition: all .2s ease-in-out;
    color: #303030;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    transition: all .2s ease-in-out;
}

img {
    max-width: 100%;
    height: auto;
}

figure {
    display: flex;
}

.container {
    direction: rtl;
    max-width: 1480px;
    padding: 0 20px;
    margin: auto;
}

.main-section-title h4 {
    font-size: 18px;
    font-weight: 450;
    border-bottom: 1px solid #f93423;
    display: inline-block;
    padding-bottom: 14px;
    margin-bottom: 17px;
}

/*** start header style ***/
header.homePage-header {
    box-shadow: 0 4px 10px 0 #0000000d;
    margin-bottom: 20px;
}

/* top header */
header .top-header {
    display: flex;
    justify-content: space-between;
    color: #7e7e7e;
    padding: 7px 0;
    font-size: 13px;
    font-weight: 350;
    cursor: default;
}

/* top header => notif new product and... in top header */
header .t-h-support .t-h-notif {}

/* top header => contact support in top header */
header .t-h-support .t-h-support-phoneNumber {
    color: #f93423;
    margin-right: 20px;
    font-weight: 450;
}

header .t-h-support .t-h-support-phoneNumber i {
    font-size: 18px;
    margin-right: 6px;
}

/* main header */
.main-header {
    display: flex;
    justify-content: space-between;
    padding-top: 14px;
}

/* main header => right (search box and website logo) */
.m-h-right {
    display: flex;
    align-items: center;
    width: 57%;
}

/* logo in header */
.m-h-right .logo {
    max-width: 130px;
}

.m-h-right .logo a {
    display: flex;
}

.m-h-right .logo a img {
    max-width: 100%;
}

/* search box in header */
.m-h-right .m-h-SearchBox {
    width: 100%;
    margin-right: 71px;
}

.m-h-right .m-h-SearchBox form.search-box {
    width: 100%;
    background-color: #f3f4f6;
    border-radius: 7px;
    font-size: 13px;
    display: flex;
}

.m-h-right .m-h-SearchBox form.search-box input[type="search"] {
    flex-grow: 1;
    padding: 15px;
    padding-right: 0;
    outline: none;
}

.m-h-right .m-h-SearchBox form.search-box button[type="submit"] {
    display: inline-flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    font-size: 20px;
    color: #a0a0a0;
}

/* main header => left (button cart shopping and button favorite) */
.m-h-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* btn cartShopping */
.m-h-left .m-h-btn-cartShopping {
    background-color: #1bd2a3;
    color: white;
    display: flex;
    padding: 14px;
    border-radius: 7px;
    font-size: 14px;
    font-weight: 450;
}

.m-h-left .m-h-btn-cartShopping:hover {
    background-color: #18b890;
}

.m-h-left .m-h-btn-cartShopping .m-h-btn-cartShopping-text {
    border-left: 1px solid white;
    padding-left: 15px;
    margin-left: 15px;
}

.m-h-left .m-h-btn-cartShopping .m-h-btn-cartShopping-num {}

/* btn favorite */
.m-h-left .m-h-btn-favorite {
    color: #303030;
    display: flex;
    padding: 13px;
    border-radius: 7px;
    border: 1px solid #7e7e7e;
    font-size: 14px;
    font-weight: 450;
}

.m-h-left .m-h-btn-favorite:hover {
    color: #c42525;
    border: 1px solid #c42525;
}

.m-h-left a.m-h-btn-favorite i {
    font-size: 19px;
    margin-left: 8px;
    transition: all .2s ease-in-out;
}

.m-h-left a.m-h-btn-favorite:hover i {
    color: #c42525;
}

/* down header (megamenu and main menu and button user acount) */
.down-header {
    display: flex;
    justify-content: space-between;
    padding: 18px 0 13px;
}

nav.d-h-main-menu {
    display: flex;
    position: relative;
}

/* mega menu */
nav.d-h-main-menu .d-h-megamenu-box {
    border-left: 1px dotted #333333;
    padding-left: 20px;
    margin-left: 17px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* title */
nav.d-h-main-menu .d-h-megamenu-box .title-megamenu {
    display: flex;
    align-items: center;
}

nav.d-h-main-menu .d-h-megamenu-box .title-megamenu span {
    color: #161a1d;
    font-weight: 450;
    margin-right: 5px;
}

/* list-items */
nav.d-h-main-menu .d-h-megamenu-box .list-items-megamenu {
    position: absolute;
    background-color: white;
    top: 25px;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease-in-out;
    box-shadow: 0 4px 10px 0 #00000010;
    border-radius: 7px;
    z-index: 9999999;
}

nav.d-h-main-menu .d-h-megamenu-box:hover .list-items-megamenu {
    visibility: visible;
    opacity: 1;
    top: 50px;
}

/* Top level */
nav.d-h-main-menu .d-h-megamenu-box .list-items-megamenu>ul::before {
    content: "";
    width: 100%;
    position: absolute;
    top: -20px;
    height: 20px;
}

nav.d-h-main-menu .d-h-megamenu-box .list-items-megamenu>ul {
    width: 222px;
    display: flex;
    flex-direction: column;
    position: relative;
}

nav.d-h-main-menu .d-h-megamenu-box .list-items-megamenu>ul>li {
    display: flex;
    align-items: center;
    padding-left: 14px;
    font-size: 10px;
    transition: all .2s ease-in-out;
    border-radius: 7px;
}

nav.d-h-main-menu .d-h-megamenu-box .list-items-megamenu>ul>li:hover {
    background-color: #f7f7f8;
}

nav.d-h-main-menu .d-h-megamenu-box .list-items-megamenu>ul>li>a {
    padding: 14px;
    font-size: 14px;
    font-weight: 450;
    flex-grow: 1;
}

nav.d-h-main-menu .d-h-megamenu-box .list-items-megamenu>ul>li:hover>a {
    color: #f93423;
}

/* Two level */
nav.d-h-main-menu .d-h-megamenu-box .list-items-megamenu>ul>li>ul {
    background-color: #fff;
    width: 1115px;
    height: 100%;
    border-right: 1px solid #c42525;
    position: absolute;
    top: 0;
    right: 100%;
    display: flex;
    padding: 12px;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease-in-out;
    box-shadow: -4 -4px 10px 0 #00000010;
    border-radius: 7px;
    z-index: 99;
}

nav.d-h-main-menu .d-h-megamenu-box .list-items-megamenu>ul>li:hover>ul {
    visibility: visible;
    opacity: 1;
}

nav.d-h-main-menu .d-h-megamenu-box .list-items-megamenu>ul>li>ul>li {
    width: 25%;
}

nav.d-h-main-menu .d-h-megamenu-box .list-items-megamenu>ul>li>ul>li>a {
    font-size: 13px;
    font-weight: 450;
    color: #000;
    border-right: 3px solid #f93423;
    padding: 0 5px;
    margin-bottom: 7px;
}

/* Three level */
nav.d-h-main-menu .d-h-megamenu-box .list-items-megamenu>ul>li>ul>li>ul li a {
    font-size: 12px;
    font-weight: 400;
    color: #666;
    padding: 4px;
}

/* d-h-menu */
nav.d-h-main-menu .d-h-menu {
    display: flex;
    align-items: center;
    margin-bottom: -14px;
}

nav.d-h-main-menu .d-h-menu>ul {
    display: flex;
    align-items: center;
    gap: 12px;
}

nav.d-h-main-menu .d-h-menu>ul li {
    position: relative;
}

nav.d-h-main-menu .d-h-menu>ul>li a {
    color: #7e7e7e;
    font-weight: 350;
    padding: 6px 3px 15px;
    border-bottom: 1px solid transparent;
}

nav.d-h-main-menu .d-h-menu>ul>li:hover>a {
    border-bottom: 1px solid #f93423;
}

/* two level menu */
nav.d-h-main-menu .d-h-menu>ul>li>ul::before {
    content: "";
    width: 100%;
    position: absolute;
    top: -18px;
    right: 0;
    height: 18px;
}

nav.d-h-main-menu .d-h-menu>ul>li>ul {
    position: absolute;
    top: 30px;
    right: 0;
    min-width: 180px;
    box-shadow: 0 4px 10px 0 #00000010;
    background-color: white;
    border-radius: 7px;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease-in-out;
    z-index: 99999;
}

nav.d-h-main-menu .d-h-menu>ul>li:hover>ul {
    visibility: visible;
    opacity: 1;
    top: 50px;
}

nav.d-h-main-menu .d-h-menu ul li ul li a {
    display: inline-block;
    font-size: 13px;
    padding: 14px 20px;
}

nav.d-h-main-menu .d-h-menu ul li ul li:hover {
    background-color: #f7f7f8;
    border-radius: 7px;
}


/* btn userAcount*/
.d-h-btn-userAccount a {
    color: #161a1de7;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 3px 5px;
}

.d-h-btn-userAccount a i {
    font-size: 19px;
}



/********************** start main style **************************/

/* main slider section 2 */
.full-main-slider {
    margin-bottom: 50px;
}

.full-main-slider .main-slider a {
    display: inline;
}

.full-main-slider .main-slider .owl-stage-outer {
    border-radius: 15px;
}

/* carousel bolets(dots) */
.full-main-slider .main-slider .owl-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.full-main-slider .main-slider .owl-dots button.owl-dot span {
    background-color: #000;
    opacity: .3;
    width: 7px;
    height: 7px;
    margin: 2px 4px;
}

.full-main-slider .main-slider .owl-dots button.active span {
    opacity: 1;
    background-color: white !important;
    width: 18px;
}

/* carousel nav */
.full-main-slider .main-slider .owl-nav {
    margin: 0px;
}

.full-main-slider .main-slider .owl-nav button {
    color: #000;
    opacity: .3;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 20px;
    position: absolute;
    top: 46%;
}

.full-main-slider .main-slider .owl-nav button:hover {
    background: none;
    opacity: 1;
}

.full-main-slider .main-slider .owl-nav button.owl-prev {
    right: 10px;
}

.full-main-slider .main-slider .owl-nav button.owl-prev::before {
    content: "\f054";
}

.full-main-slider .main-slider .owl-nav button.owl-next {
    left: 10px;
}

.full-main-slider .main-slider .owl-nav button.owl-next::before {
    content: "\f053";
}


/* main amazing product slider section 3 */
.full-main-amazing,
.full-main-newProduct {
    margin-bottom: 80px;
}

.full-main-amazing .main-amazing-P {
    background-color: #f93423;
    border-radius: 15px;
    box-shadow: 17px 17px 40px 0px #e5383b12;
    display: flex;
    overflow: hidden;
}

.full-main-amazing .main-amazing-P {
    padding-left: 10px;
}

.full-main-amazing .main-amazing-P .thumbnail-showAllBtn {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.full-main-amazing .main-amazing-P .thumbnail-showAllBtn .thumbnail {
    max-width: 228px;
    margin: 15px auto;
}

.full-main-amazing .main-amazing-P .thumbnail-showAllBtn .showAllBtn a {
    background-color: #FFF;
    border-radius: 24px;
    padding: 13px 29px;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.full-main-amazing .main-amazing-P .thumbnail-showAllBtn .showAllBtn a i {
    font-size: 13px;
}

/* slider */
.full-main-amazing .main-amazing-P .main-amazingProduct-slider {
    width: 80%;
}


/***** Product slider items *****/
.Product-slider-item {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 10px 5px #00000008;
    margin: 14px 8px;
    padding: 10px 15px 15px;
}

.Product-slider-item .color-discount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.Product-slider-item .color-discount .color ul {
    display: flex;
    gap: 5px;
}

.Product-slider-item .color-discount .color ul li {
    display: flex;
}

.Product-slider-item .color-discount .color ul li span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
}

.Product-slider-item .color-discount .color ul li span b {
    background-color: #303030;
    color: #fff;
    font-size: 13px;
    font-weight: 200;
    border-radius: 5px;
    padding: 2px 4px;
    position: absolute;
    bottom: 14px;
    right: -8px;
    visibility: hidden;
    opacity: 0;
    transition: .25s ease-in all;
}

.Product-slider-item .color-discount .color ul li span:hover b {
    bottom: 17px;
    visibility: visible;
    opacity: 1;
}

.Product-slider-item .color-discount .dis {
    background-color: #f93423;
    color: white;
    border-radius: 5px;
    height: 22px;
    padding: 1px 3px 0;
}

.Product-slider-item figure a {
    max-width: 200px;
    height: 220px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.Product-slider-item figure a img {
    transition: all .2s ease-out;
}

.Product-slider-item:hover figure a img {
    transform: scale(1.06);
    transition: all .7s ease-out;
}

.Product-slider-item h2 {
    font-size: 14px;
    font-weight: 450;
    text-align: center;
    color: #333333;
    margin-top: 20px;
    margin-bottom: 7px;
    height: 48px;
    overflow: hidden;
}

/* timer offer */
.Product-slider-item .box-timer .card-product-box-timer {
    direction: ltr;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Product-slider-item .box-timer .card-product-box-timer>div.number {
    background-color: #f93423;
    color: white;
    width: 35px;
    height: 35px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Product-slider-item .box-timer .card-product-box-timer>span.dot {
    color: #f93423;
    font-size: 20px;
    font-weight: 600;
    margin: 0 2px;
}

.Product-slider-item .price-addToCard {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 10px;
}

.Product-slider-item .price-addToCard .addToCart a {
    color: #1bd2a3;
    border-radius: 50%;
    font-size: 34px;
    display: flex;
}

.Product-slider-item .price-addToCard .addToCart:hover a {
    color: #18b890;
}

.Product-slider-item .price-addToCard .price {
    display: flex;
    flex-direction: column;
    text-align: left;
    position: relative;
    padding-left: 15px;
}

.Product-slider-item .price-addToCard .price del {
    color: #7e7e7e;
    font-size: 14px;
}

.Product-slider-item .price-addToCard .price ins {
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
}

.Product-slider-item .price-addToCard .price ins span {
    font-size: 12px;
    font-weight: 500;
    display: inline-block;
    rotate: -90deg;
    position: absolute;
    left: -10px;
    top: 15px;
    color: #7e7e7e;
}

/* main adsBanner section 5 & 7 */
.full-main-catBanner {
    margin-bottom: 100px;
}

.full-main-catBanner .main-catBanner {
    display: flex;
    gap: 21px;
}

.full-main-catBanner .main-catBanner .banner img {
    border-radius: 15px;
}